# -- Project files to ignore --

# Testing local files
test.py


# Data generation
vehicles.json
*.json

# -- Python Compilation and Caching --

__pycache__/
*.py[cod]
*$py.class


.idea/
.venv/

# --- S.O ---

.DS_Store
Thumbs.db